{% extends "_layout" %}
{% set subject = entry.profileSubject.first() %}
{% set title = subject.fullName %}
{% set bodyClass = 'l-2col' %}

{% block main %}
<div class="l-main">

  <header class="band band-flush-bottom rounded">
    <div class="main">
      <span class="gamma headline">Member profile</span>
    </div>
    <a href="{{ url('membership/members') }}" class="action">All members</a>
  </header>

  <header class="page-header square">
    <div class="main">
      <h1>{{ subject.fullName }}
        {% if subject.memberTitle or subject.memberInstitutionalAffiliation %}
          <small>
            {% if not subject.memberInstitutionalAffiliation %}
              {{ subject.memberTitle }}
            {% elseif not subject.memberTitle %}
              {{ subject.memberInstitutionalAffiliation }}
            {% else %}
              {{ subject.memberTitle }}, {{ subject.memberInstitutionalAffiliation }}
            {% endif %}
          </small>
        {% endif %}
      </h1>

      {# Hold this back until I figure out whether to hide or not from non-members #}

      {#
      {% if subject.memberShowEmailLink %}
        {% set emailLink = 'mailto:' ~ subject.email %}
        <ul class="inline-list has-commas">
          <li><a href="{{ emailLink|entities }}">Email</a></li>
        </ul>
      {% endif %}
      #}

    </div>
    <figure>
      <img src="{{ subject.getPhotoUrl(200) }}">
    </figure>
  </header>

  <div class="page page-inset-large">
    {% if entry.profileIntro %}
      {{ entry.profileIntro }}
    {% endif %}

    <dl class="interview">
    {% for block in entry.profileInterview %}
      <dt>{{ block.question }}</dt>
      <dd>{{ block.answer }}</dd>
    {% endfor %}
    </dl>

  </div>
  <!--/.page-->

</div>
<!--/.l-main-->
{% endblock %}

{% block aside %}
<div class="l-aside">
  {% include 'includes/_nav-membership.html' %}
</div>
<!--/.l-aside-->
{% endblock %}
