{% extends "_layout" %}
{% if entry.displayTitle %}
  {% set title = entry.displayTitle %}
{% else %}
  {% set title = entry.title %}
{% endif %}
{% set bodyClass = 'l-2col' %}

{% block main %}
<div class="l-main">

  <header class="page-header">
    <div class="main">
      <h1>{{ title }}{% if entry.pageSubtitle|length %} <small>{{ entry.pageSubtitle }}</small>{% endif %}</h1>
    </div>
  </header>

  {% set featuredProfile = entry.featuredProfile.first() %}

  {% include 'includes/_featured-profile.html' with {'hideAllLink':'true'} %}

  <header class="band band-flush-bottom">
    <div class="main">
      <span class="headline">Member directory</span>
    </div>
  </header>

  {% if currentUser %}

    {% if currentUser.memberRenewalDate|length and now >= currentUser.memberRenewalDate %}
      <div class="page page-inset page-alert">
        {{ globalMembers.memberPaymentDueMessage }}
        <p><a class="btn btn-primary" href="{{ url('account/pay') }}">Renew now</a></p>
      </div>
    {% endif %}

    {% if currentUser.isInGroup('members') %}

      {% set members = craft.users.group('members').memberIncludeMe('1').order('lastName').limit(null) %}

      {% set membersGrouped = members|group('lastName|first|upper|
        preg_replace("/[A-E]/", "A-E", 1)|
        preg_replace("/[F-J]/", "F-J", 1)|
        preg_replace("/[K-O]/", "K-O", 1)|
        preg_replace("/[P-T]/", "P-T", 1)|
        preg_replace("/[U-Z]/", "U-Z", 1)') %}

      <header class="band band-snug band-flush-bottom">
        <nav id="AlphaNav" class="nav brick-nav brick-nav-full brick-nav-flush">
          <ul>
            {% for letters in membersGrouped|keys %}

              <li><a class="animate-scroll" href="#{{ letters }}">{{ letters }}</a></li>

            {% endfor %}
          </ul>
        </nav>
      </header>

      <div class="page page-inset-large">

        <div class="g g-6up-max">

          {% for letters, members in membersGrouped %}

            {# Don't insert explicit letter group headers
            <div class="block-letters" id="{{ letters }}">
              <h1>{{ letters }}</h1>
              <a href="#AlphaNav" class="animate-scroll">Top</a>
            </div>
            #}

            {% for member in members %}

              <div {% if loop.first %}id="{{ letters }}" {% endif %}class="block-switch">
                <a class="b-figure" href="{{ url( 'member/' ~ member.username ) }}">
                  {% if member.photoUrl %}
                    <img src="{{ member.getPhotoUrl(200) }}">
                  {% else %}
                    {% set asset = globalMembers.memberDefaultPhoto.first() %}
                    <img src="{{ asset.getUrl('avatarImage') }}" alt="avatar" />
                  {% endif %}
                </a>
                <dl class="b-body">
                  <dt class="headline"><a href="{{ url( 'member/' ~ member.username ) }}">{{ member.fullName }}</a></dt>
                  {% if member.memberTitle %}
                    <dd>{{ member.memberTitle }}</dd>
                  {% endif %}
                  {% if member.memberInstitutionalAffiliation %}
                    <dd>{{ member.memberInstitutionalAffiliation }}</dd>
                  {% endif %}
                  {% set profile = craft.entries.section('memberProfiles').relatedTo(member) %}
                  {% if profile|length %}
                    <dd><a href="{{ profile.first().url }}">View profile</a></dd>
                  {% endif %}
                </dl>
              </div>
              <!--/.block-switch-->

            {% endfor %}

          {% endfor %}

        </div>
        <!--/.g-->

      </div>
      <!--/.page-->

    {% endif %}

  {% else %}

    <div class="page page-inset-large">
      {% if entry.directoryPrompt %}
        {{ entry.directoryPrompt }}
      {% else %}
        <p><a href="{{ loginUrl }}">Log in to view the member directory</a>.</p>
      {% endif %}
    </div>

  {% endif %}

</div>
<!--/.l-main-->
{% endblock %}

{% block aside %}
<div class="l-aside">
  {% include 'includes/_nav-membership.html' %}
</div>
<!--/.l-aside-->
{% endblock %}
