{% extends "_layout" %}
{% if entry.displayTitle %}
  {% set title = entry.displayTitle %}
{% else %}
  {% set title = entry.title %}
{% endif %}
{% set bodyClass = 'l-2col' %}

{% block main %}
<div class="l-main">

  <header class="page-header">
    <div class="main">
      <h1>{{ title }}{% if entry.pageSubtitle|length %} <small>{{ entry.pageSubtitle }}</small>{% endif %}</h1>
    </div>
  </header>

  <div class="page page-inset">

    {% if entry.pageIntro %}
      {{ entry.pageIntro }}
    {% endif %}

    <h2>Membership tiers</h2>

    <ul class="slat-list">

      {% for entry in craft.entries.section('membershipTiers') %}

        <li>
          <div class="block-media">
            <div class="b-body">
              <h3 class="headline">{{ entry.title }}</h3>
              {{ entry.tierDescription }}
              <p><a href="{{ url( 'account/create?t=' ~ entry.id ) }}" class="btn btn-primary">Join</a></p>
            </div>
            <div class="b-figure">
              <b class="mem-price">${{ entry.tierPrice|number_format(0,'.',',') }}</b>
            </div>
          </div>
        </li>

      {% endfor %}

    </ul>
  </div>
  <!--/.page-->

  {% set featuredProfile = entry.featuredProfile.first() %}

  {% include 'includes/_featured-profile.html' %}

</div>
<!--/.l-main-->
{% endblock %}

{% block aside %}
<div class="l-aside">
  {% include 'includes/_nav-membership.html' %}
</div>
<!--/.l-aside-->
{% endblock %}
