{% set newsFront = craft.entries.section('newsFront').first() %}
{% for block in newsFront.newsSidebar %}

  {% if block.blockTitle %}
    <header class="band band-flush-bottom band-inset-small">
      <div class="main">
        <span class="headline as-h4">{{ block.blockTitle }}</span>
      </div>
    </header>
  {% endif %}

  <div class="page page-inset-small">

    {% switch block.type %}

      {% case "textBlock" %}

        {{ block.blockContent }}

      {% case "widgetBlock" %}

        {{ block.blockWidgetCode|raw }}

      {% case "tagBlock" %}

        {# grab the entries in the news section #}
        {% set entries = craft.entries.section('news') %}

        {# Grab the related tags for those entries #}
        {% set maxTags = block.blockMaximumTags.label %}

        {% set allTags = craft.tags.relatedTo({
          sourceElement: entries
        }).order('dateUpdated').limit( maxTags ) %}

        <ul class="link-list bordered">

          {% for tag in allTags %}

            <li><a href="{{ url('news/tags')}}/{{ tag.name | url_encode }}">{{ tag.name }}</a></li>

            {% if loop.last %}

              <li class="footer"><a href="{{ url('news/tags') }}">All tags</a></li>

            {% endif %}

          {% endfor %}

        </ul>

    {% endswitch %}

  </div>

{% endfor %}