{% set membershipFrontEntry = craft.entries.section('membershipFront').first() %}
{% if membershipFrontEntry.displayTitle %}
  {% set membershipTitle = membershipFrontEntry.displayTitle %}
{% else %}
  {% set membershipTitle = membershipFrontEntry.title %}
{% endif %}

{% set memberDirectoryEntry = craft.entries.section('memberDirectory').first() %}
{% if memberDirectoryEntry.displayTitle %}
  {% set directoryTitle = memberDirectoryEntry.displayTitle %}
{% else %}
  {% set directoryTitle = memberDirectoryEntry.title %}
{% endif %}

<nav class="nav section-nav collapse-nav">
  <ul>
    <li><a class="collapse-toggle" href="#">In this section: <b class="pointer"><span class="icon icon-down"></span></b></a></li>
    <li{% if craft.request.url == url('membership') %} class="current"{% endif %}><a href="{{ url('membership') }}">{{ membershipTitle }} <b class="pointer"><span class="icon icon-next"></span></b></a></li>
    <li{% if craft.request.url == url('membership/members') %} class="current"{% endif %}><a href="{{ url('membership/members') }}">{{ directoryTitle }} <b class="pointer"><span class="icon icon-next"></span></b></a></li>
  </ul>
</nav>