{% extends "_layout" %}
{% set title = "Pay for your membership" %}
{% set bodyClass = 'l-1col' %}

{% block main %}

{% requireLogin %}

<div class="l-main">

  <header class="page-header">
    <div class="main">
      <h1>{{ title }}</h1>
    </div>
  </header>

  <form>

    <div class="page page-inset">
      <p>Please verify that the appropriate membership tier is selected below:</p>

      <div class="form-group">
        <label>Tier:</label>
        <select class="select-group" id="TierSelect">
          {% set memberTier = currentUser.memberMembershipTier.first() %}
          {% for entry in craft.entries.section('membershipTiers') %}
            <option value="{{ entry.tierUrl }}"{% if entry.id == memberTier.id %} selected{% endif %}>{{ entry.title }} – ${{ entry.tierPrice|number_format(0,'.',',') }}</option>
          {% endfor %}
        </select>
      </div>

    </div>
    <!--/.page-->

    <div class="page">
      <div class="btn-group btn-group-full btn-group-flush">
        <a id="PayButton" class="btn btn-primary btn-large" href="{{ memberTier.tierUrl }}">Pay now</a>
      </div>
    </div>

  </form>

</div>
<!--/.l-main-->
{% endblock %}

{% set tierSelectJs %}

  $buttonUrl = $('#TierSelect').val();
  $('#PayButton').attr('href', $buttonUrl);

  $('#TierSelect').on('change', function(event) {
    var $buttonUrl = $(this).val();
    $('#PayButton').attr('href', $buttonUrl);
  });

{% endset %}

{% includeJs tierSelectJs %}