{% extends "_layout-reversed" %}
{% set title = "Tags" %}
{% set bodyClass = 'sec-news sec-news-front l-2col-rev' %}
{% set imageInfoLink = "http://amazon.com" %}

{% block main %}
<div class="l-main">

  <header class="page-header">
    <div class="main">
      <h1>{{ title }}</h1>
    </div>
  </header>

  {# grab the entries in the news section #}
  {% set entries = craft.entries.section('news') %}

  {# Grab the related tags for those entries #}
  {% set allTags = craft.tags.relatedTo({
    sourceElement: entries
  }).order('name').limit(null) %}

  {# This is the original grouping code which groups by single letters #}
  {# {% set allTagsGrouped = allTags|group('name|first|upper') %} #}

  {# This code uses a plug-in that adds additional filters to Twig
     See:
     https://github.com/victor-in/Craft-TwigPCRE/
     http://craftcms.stackexchange.com/questions/5404/how-can-i-group-a-list-of-tags-into-ranges-of-first-letters-a-e-f-j-etc
  #}
  {% set allTagsGrouped = allTags|group('name|first|upper|
    preg_replace("/[A-E]/", "A-E", 1)|
    preg_replace("/[F-J]/", "F-J", 1)|
    preg_replace("/[K-O]/", "K-O", 1)|
    preg_replace("/[P-T]/", "P-T", 1)|
    preg_replace("/[U-Z]/", "U-Z", 1)') %}

  <header class="band band-snug band-flush-bottom">

    <nav id="AlphaNav" class="nav brick-nav brick-nav-full brick-nav-flush">

      <ul>

        {% for letters in allTagsGrouped|keys %}

          <li><a class="animate-scroll" href="#{{ letters }}">{{ letters }}</a></li>

        {% endfor %}

      </ul>

    </nav>

  </header>

  <div class="page page-inset-large news-listing">

    {% for letters, tags in allTagsGrouped %}

      <ul id="{{ letters|upper }}" class="link-list bordered">

        <li class="header">{{ letters|upper }}</li>

        {% for tag in tags %}

          <li><a href="{{ url('news/tags/') }}/{{ tag.name|url_encode }}">{{ tag.name }}</a></li>

          {% if loop.last %}

            <li class="footer"><a class="animate-scroll" href="#AlphaNav">Top</a></li>

          {% endif %}

        {% endfor %}

      </ul>

    {% endfor %}

  </div>

</div>
<!--/.l-main-->
{% endblock %}

{% block aside %}
<div class="l-aside">
  {% include 'includes/_nav-news.html' %}
</div>
<!--/.l-aside-->
{% endblock %}