{% extends "_layout-reversed" %}
{% set title = entry.title %}
{% set bodyClass = 'l-2col-rev' %}

{% block main %}
<div class="l-main">

  <div class="page page-inset-large news-article">
    <header>
      <h1>{{ title }}</h1>
    </header>
    <div class="body">

    {% include 'includes/story-blocks/_story-blocks.html' %}

    </div>
    <footer>
      <span class="date">{{ entry.postDate.format('m.d.y') }}</span>

      {% include 'includes/_news-taglist.html' %}

    </footer>
  </div>

  {# Set parameters for prev/next elements list #}
  {% set params = craft.entries.section('news').order('postDate asc') %}

  {# Get the prev/next elements #}
  {% set prevEntry = entry.getPrev(params) %}
  {% set nextEntry = entry.getNext(params) %}

  {% if prevEntry or nextEntry %}

  <div class="band band-snug">
    <div class="main">
      <nav class="nav brick-nav brick-nav-full brick-nav-flush">
        <ul>
          {% if prevEntry %}
            <li class="brick-left"><a href="{{ prevEntry.url }}"><span class="arrow">&larr;</span> Prev</a></li>
          {% else %}
            <li class="brick-left is-disabled"><a href="#"><span class="arrow">&larr;</span> Prev</a></li>
          {% endif %}
          {% if nextEntry %}
            <li class="brick-right"><a href="{{ nextEntry.url }}">Next <span class="arrow">&rarr;</span></a></li>
          {% else %}
            <li class="brick-right is-disabled"><a href="#">Next <span class="arrow">&rarr;</span></a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>

  {% endif %}

</div>
<!--/.l-main-->
{% endblock %}

{% block aside %}
<div class="l-aside">
  {% include 'includes/_nav-news.html' %}
</div>
<!--/.l-aside-->
{% endblock %}
