{% extends "_layout-reversed" %}
{% if entry.displayTitle %}
  {% set title = entry.displayTitle %}
{% else %}
  {% set title = entry.title %}
{% endif %}
{% set bodyClass = 'l-2col-rev' %}

{% block main %}
<div class="l-main">

  <header id="PageHeader" class="page-header">
    <div class="main">
      <h1>{{ title }}{% if entry.pageSubtitle|length %} <small>{{ entry.pageSubtitle }}</small>{% endif %}</h1>
    </div>
  </header>

  <div class="page page-inset-large news-listing">

    {% if entry.pageIntro %}
      {{ entry.pageIntro }}
    {% endif %}

    {% set allEntries = craft.entries.section('newsletters').limit(null) %}

    {% for year, entries in allEntries | group("postDate.year") %}

      <ul class="link-list bordered bordered">

            <li class="header">{{ year }}</li>

          {% for entry in entries %}

            {% set asset = entry.newsletterFile.first() %}

            <li><a href="{{ asset.url }}">{{ entry.title }}</a></li>

            {% if loop.last %}

              <li class="footer"><a class="animate-scroll" href="#PageHeader">Top</a></li>

            {% endif %}

          {% endfor %}

      </ul>

    {% endfor %}

  </div>

</div>
<!--/.l-main-->
{% endblock %}

{% block aside %}
<div class="l-aside">
  {% include 'includes/_nav-news.html' %}
</div>
<!--/.l-aside-->
{% endblock %}
