{% extends "_layout-reversed" %}
{% set titleA = "Tagged"|translate %}
{% set title = [titleA,tag]|join(': ')  %}
{% set bodyClass = 'l-2col-rev' %}

{% set tag = craft.tags.name(tag).first() %}

{% if not tag %}
    {% exit 404 %}
{% endif %}

{% block main %}
<div class="l-main">

  <header class="page-header">
    <div class="main">
     <div class="eyebrow">Viewing news tagged:</div>
      <h1>{{ tag.name }}</h1>
    </div>
  </header>

  {% paginate craft.entries.section('news').relatedTo(tag).limit(10) as entriesOnPage %}

    {% for entry in entriesOnPage %}

      {% if entry.teaserImage|length %}
        {% set asset = entry.teaserImage.first() %}
      {% else %}
        {% set asset = "" %}
      {% endif %}

      <div class="page page-inset-large news-listing">

        {% if asset|length %}

          <figure class="block-picture pos-right">
            <img src="{{ asset.getUrl('teaserImage') }}" />
          </figure>

        {% endif %}

        {% if entry.shortTitle %}

          {% set entryTitle = entry.shortTitle %}

        {% else %}

          {% set entryTitle = entry.title %}

        {% endif %}

        <header>
          <h2><a href="{{ entry.url }}">{{ entryTitle }}</a></h2>
        </header>
        <div class="body">
          <p>{{ entry.teaser }} <a href="{{ entry.url }}">More</a></p>
        </div>
        <footer>
          <span class="date">{{ entry.postDate.format('m.d.y') }}</span>
          {#
          {% include 'includes/_news-taglist.html' %}
          #}
        </footer>
      </div>

    {% endfor %}

    {% set prevEntries = paginate.nextUrl %}
    {% set nextEntries = paginate.prevUrl %}

    {% if prevEntries or nextEntries %}

    <div class="band band-snug">
      <div class="main">
        <nav class="nav brick-nav brick-nav-full brick-nav-flush">
          <ul>
            {% if prevEntries %}
              <li class="brick-left"><a href="{{ prevEntries }}"><span class="arrow">&larr;</span> Prev</a></li>
            {% else %}
              <li class="brick-left is-disabled"><a href="#"><span class="arrow">&larr;</span> Prev</a></li>
            {% endif %}
            {% if nextEntries %}
              <li class="brick-right"><a href="{{ nextEntries }}">Next <span class="arrow">&rarr;</span></a></li>
            {% else %}
              <li class="brick-right is-disabled"><a href="#">Next <span class="arrow">&rarr;</span></a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>

    {% endif %}

  {% endpaginate %}

</div>
<!--/.l-main-->
{% endblock %}

{% block aside %}
<div class="l-aside">
  {% include 'includes/_nav-news.html' %}
</div>
<!--/.l-aside-->
{% endblock %}
