{% extends "_layout-reversed" %}
{% if entry.displayTitle %}
  {% set title = entry.displayTitle %}
{% else %}
  {% set title = entry.title %}
{% endif %}
{% set bodyClass = 'sec-news sec-news-front l-2col-rev' %}
{% set imageInfoLink = "http://amazon.com" %}

{% block main %}
<div class="l-main">

  <header class="page-header">
    <div class="main">
      <h1>{{ title }}{% if entry.pageSubtitle|length %} <small>{{ entry.pageSubtitle }}</small>{% endif %}</h1>
    </div>
  </header>

  <div class="page page-inset-large news-listing">
    <header>
      <h2><a href="news-detail">News item title here lorem ipsum dolor sit amet consecutat velo</a></h2>
    </header>
    <div class="body">
      <figure>

      </figure>
      <p>News item summary here lorem ipsum dolor sit amet consecutat velorem dolor. Adipiscing elit lorem ipsum dolor sit amet consecutat velorem dolor. <a href="news-detail">More</a></p>
    </div>
    <footer>
      <span class="date">12.08.14</span>
      <ul class="inline-list has-commas">
        <li><a href="news-tag-listing">Tag name here</a>,</li>
        <li><a href="news-tag-listing">Tag here</a></li>
      </ul>
    </footer>
  </div>

  <div class="band band-snug">
    <div class="main">
      <nav class="nav brick-nav brick-nav-full brick-nav-flush">
        <ul>
          <li class="brick-left"><a class="is-disabled" href="#"><span class="arrow">&larr;</span> Prev</a></li>
          <li class="brick-right"><a href="#">Next <span class="arrow">&rarr;</span></a></li>
        </ul>
      </nav>
    </div>
  </div>

</div>
<!--/.l-main-->
{% endblock %}

{% block aside %}
<div class="l-aside">
  {% include 'includes/_nav-news.html' %}
</div>
<!--/.l-aside-->
{% endblock %}
