{% extends "_layout" %}
{% if entry.displayTitle %}
  {% set title = entry.displayTitle %}
{% else %}
  {% set title = entry.title %}
{% endif %}
{% set bodyClass = 'l-1col' %}

{% block main %}
<div class="l-main">

  <header class="page-header">
    <div class="main">
      <h1>{{ title }}{% if entry.pageSubtitle|length %} <small>{{ entry.pageSubtitle }}</small>{% endif %}</h1>
    </div>
  </header>

  <div class="page page-inset">

    {% include 'includes/story-blocks/_story-blocks.html' %}

    <ul class="g g-3up-max">

      {% set artwork = craft.entries.section('artwork') %}

      {% for entry in artwork %}

        {% set asset = entry.artImageFull.first() %}

        <li>
          <figure>
            <img src="{{ asset.url }}" />
            <figcaption class="art-label bordered flush">
              <h3 class="artist">{{ entry.artArtistFullname }}</h3>
              <h5 class="title">{{ entry.title }}</h5>
              <ul class="details">
                {% if entry.artMedium %}<li>{{ entry.artMedium }}</li>{% endif %}
                {% if entry.artDimensions %}<li>{{ entry.artDimensions|preg_replace('/x/', '&times;')|raw }}</li>{% endif %}
                {% if entry.artYear %}<li>{{ entry.artYear }}</li>{% endif %}
                {% if entry.artCreditLine %}<li>{{ entry.artCreditLine }}</li>{% endif %}
                {% if entry.artArtistUrl %}<li><a href="{{ entry.artArtistUrl }}">Visit site</a></li>{% endif %}
              </ul>
            </figcaption>
          </figure>
        </li>

      {% endfor %}

    </ul>

  </div>
  <!--/.page-->

</div>
<!--/.l-main-->
{% endblock %}

{% block aside %}
{% endblock %}
