{% extends "_layout" %}
{% set member = craft.users.username( craft.request.segment(2) ).first() %}
{% if member|length %}
  {% set title = member.fullName %}
{% else %}
  {% exit 404 %}
{% endif %}
{% set bodyClass = 'l-1col' %}

{% block main %}

{% requireLogin %}

<div class="l-main">

  <header class="page-header">
    <div class="main">
      <h1>{{ member.fullName }}</h1>
    </div>
    <figure>
      <img src="{{ member.getPhotoUrl(200) }}">
    </figure>
  </header>

  <div class="page page-inset-large">

    <p>Profile info is shown here</p>

    {% if member.username == currentUser.username %}
      <p>This is the current user and some kind of <a href="{{ url('account/edit') }}">edit my profile</a> button should be shown?</p>
    {% endif %}

  </div>

</div>
<!--/.l-main-->
{% endblock %}