{% extends "_layout" %}
{% set member = craft.users.username( craft.request.segment(2) ).first() %}
{% if member|length %}
  {% set title = member.fullName %}
{% else %}
  {% exit 404 %}
{% endif %}
{% set bodyClass = 'l-1col' %}

{% block main %}

{% requireLogin %}

<div class="l-main">

  <header class="page-header">
    <div class="main">
      <h1>{{ member.fullName }}
        {% if member.memberTitle or member.memberInstitutionalAffiliation %}
          <small>
            {% if not member.memberInstitutionalAffiliation %}
              {{ member.memberTitle }}
            {% elseif not member.memberTitle %}
              {{ member.memberInstitutionalAffiliation }}
            {% else %}
              {{ member.memberTitle }}, {{ member.memberInstitutionalAffiliation }}
            {% endif %}
          </small>
        {% endif %}
      </h1>
    </div>
    <figure>
      <img src="{{ member.getPhotoUrl(200) }}">
    </figure>
  </header>

  {% if member.username == currentUser.username %}
    <div class="page">
      <div class="btn-group btn-group-full btn-group-flush">
        <a href="{{ url('account/edit') }}" class="btn btn-large btn-primary">Edit my account</a>
      </div>
    </div>
  {% endif %}

  <header class="band band-flush-bottom">
    <div class="main">
      <span class="headline">Contact info</span>
    </div>
  </header>

  <div class="page page-inset">

    <dl class="divided">
      <dt>Website or social profile</dt>
      <dd><a href="{{ member.memberUrl }}">{{ member.memberUrl }}</a></dd>
      <dt>Phone</dt>
      <dd>{{ member.memberPhone }}</dd>
      <dt>Mailing address</dt>
      <dd>{{ member.memberAddress }}</dd>
    </dl>

  </div>

  <header class="band band-flush-bottom">
    <div class="main">
      <span class="headline">Professional info</span>
    </div>
  </header>

  <div class="page page-inset">

    <dl class="divided">
      <dt>Areas of research</dt>
      <dd>{{ member.memberAreasOfResearch }}</dd>
      <dt>Notable publications/exhibitions</dt>
      <dd>{{ member.memberPublicationsExhibitions }}</dd>
    </dl>

  </div>

</div>
<!--/.l-main-->
{% endblock %}