{% extends "_layout" %}
{% set title = "Forgot your password?" %}
{% set bodyClass = 'l-1col' %}

{% block main %}
<div class="l-main">

  <header class="page-header">
    <div class="main">
      <h1>{{ title }}</h1>
    </div>
  </header>

  <div class="page page-inset">

    <p>Enter the email address associated with your account and you’ll receive an email with a link you can use to reset your password.</p>

    <form method="post" accept-charset="UTF-8">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="users/forgotPassword">
        <input type="hidden" name="redirect" value="">
        <div class="form-group">
        <label for="loginName">Email</label>
        <input class="form-control" id="loginName" type="text" name="loginName"
            value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.session.rememberedUsername }}{% endif %}">

        {% if errors is defined %}
            <ul class="errors inline-list has-commas">
                {% for error in errors %}
                    <li class="has-error"><strong>{{ error }}</strong></li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>
        <div class="form-group">
          <input class="btn btn-primary" type="submit" value="Reset password">
        </div>
    </form>

  </div>

</div>
<!--/.l-main-->
{% endblock %}