{% extends "_layout" %}
{% set title = "Join QCA" %}
{% set bodyClass = 'l-1col' %}

{% block main %}
<div class="l-main">

  <header class="page-header">
    <div class="main">
      <h1>Join QCA <small>Create your account</small></h1>
    </div>
  </header>

    <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="users/saveUser">
        <input type="hidden" name="redirect" value="member/activation-required">

        {% macro errorList(errors) %}
        {% if errors %}
            <ul class="errors inline-list has-commas">
                {% for error in errors %}
                    <li class="has-error"><strong>{{ error }}</strong>{% if not loop.last %},{% endif %}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endmacro %}

        {% from _self import errorList %}

        <header class="band band-flush-bottom">
          <div class="main">
            <span class="headline">Personal info</span>
          </div>
        </header>

        <fieldset class="page page-inset">
            {#
            <div class="form-group">
                <label for="username">Username<b class="required">*</b></label>
                <input class="form-control" id="username" type="text" name="username"
                {%- if account is defined %} value="{{ account.username }}"{% endif -%}>

                {% if account is defined %}
                {{ errorList(account.getErrors('username')) }}
                {% endif %}
            </div>
            #}

            <div class="form-group">
                <label for="firstName">First name<b class="required">*</b></label>
                <input class="form-control" id="firstName" type="text" name="firstName"
                {%- if account is defined %} value="{{ account.firstName }}"{% endif -%}>

                {% if account is defined %}
                {{ errorList(account.getErrors('firstName')) }}
                {% endif %}
            </div>

            <div class="form-group">
                <label for="lastName">Last name<b class="required">*</b></label>
                <input class="form-control" id="lastName" type="text" name="lastName"
                {%- if account is defined %} value="{{ account.lastName }}"{% endif -%}>

                {% if account is defined %}
                {{ errorList(account.getErrors('lastName')) }}
                {% endif %}
            </div>

            <div class="form-group">
                <label for="email">Email<b class="required">*</b></label>
                <input class="form-control" id="email" type="text" name="email"
                {%- if account is defined %} value="{{ account.email }}"{% endif %}>

                {% if account is defined %}
                {{ errorList(account.getErrors('email')) }}
                {% endif %}
            </div>

            <div class="form-group">
                <label for="password">Password<b class="required">*</b></label>
                <input class="form-control" id="password" type="password" name="password">
                <p class="help-block">Must be 6 characters or longer</p>
                {% if account is defined %}
                {{ errorList(account.getErrors('password')) }}
                {% endif %}
            </div>

            <!-- Retype password field here? -->

        </fieldset><!--/.page-inset-->

        <header class="band band-flush-bottom">
          <div class="main">
            <span class="headline">Contact info</span>
          </div>
        </header>

        <fieldset class="page page-inset">
          <div class="form-group">
            <label>Website or social profile</label>
            <input class="form-control" type="text" id="memberUrl" name="fields[memberUrl]" placeholder="http://myurlhere.com"{%- if account is defined %} value="{{ account.memberUrl}}"{% endif -%}>
            <p class="help-block">e.g., personal site, LinkedIn or social profile</p>
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input class="form-control" type="text" id="memberPhone" name="fields[memberPhone]" placeholder="XXX-XXX-XXXX"{%- if account is defined %} value="{{ account.memberPhone}}"{% endif -%}>
          </div>
          <div class="form-group">
            <label>Mailing address</label>
            <textarea class="form-control" rows="4" id="memberAddress" name="fields[memberAddress]"{%- if account is defined %} value="{{ account.memberAddress }}"{% endif %}>
            </textarea>
          </div>
        </fieldset>

        <header class="band band-flush-bottom">
          <div class="main">
            <span class="headline">Professional info</span>
          </div>
        </header>

        <fieldset class="page page-inset">
          <div class="form-group">
            <label>Institutional affiliation</label>
            <input class="form-control" type="text" id="memberInstitutionalAffiliation" name="fields[memberInstitutionalAffiliation]"{% if account is defined %} value="{{ account.memberInstitutionalAffiliation }}"{% endif %}>
          </div>
          <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" id="memberTitle" name="fields[memberTitle]"{% if account is defined %} value="{{ account.memberTitle }}"{% endif %}>
            <p class="help-block">e.g., Curator, Artist, Professor</p>
          </div>
          <div class="form-group">
            <label>Areas of research</label>
            <textarea class="form-control" rows="3" id="memberAreasOfResearch" name="fields[memberAreasOfResearch]"{% if account is defined %} value="{{ account.memberAreasOfResearch }}"{% endif %}></textarea>
          </div>
          <div class="form-group">
            <label>Notable publications/exhibitions</label>
            <textarea class="form-control" rows="6" id="memberPublicationsExhibitions" name="fields[memberPublicationsExhibitions]"{% if account is defined %} value="{{ account.memberPublicationsExhibitions }}"{% endif %}></textarea>
          </div>
          <div class="form-group">
            <label>Other comments</label>
            <textarea class="form-control" rows="6" id="memberComments" name="fields[memberComments]"{% if account is defined %} value="{{ account.memberComments }}"{% endif %}></textarea>
          </div>
        </fieldset>

        <header class="band band-flush-bottom">
          <div class="main">
            <span class="headline">Preferences</span>
          </div>
        </header>

        <fieldset class="page page-inset">
          <div class="form-group">
            <label>On the "Our Members" page:</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" id="memberIncludeMe" name="fields[memberIncludeMe]" value="1" {% if account is defined and account.memberIncludeMe %}checked="checked"{% endif %}>
                Include me in the member directory visible to other members?
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" id="memberShowEmailLink" name="fields[memberShowEmailLink]" value="1" {% if account is defined and account.memberShowEmailLink %}checked="checked"{% endif %}>
                Show a link to contact me via email in the member directory?
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" id="memberContactMe" name="fields[memberContactMe]" value="1" {% if account is defined and account.memberContactMe %}checked="checked"{% endif %}>
                I'm interested in QCA officers contacting me for a future member profile?
              </label>
            </div>
          </div>
        </fieldset>

        <div class="page page-inset">
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Create account">
            </div>
        </div><!--/.page-inset-->
    </form>

</div>
<!--/.l-main-->
{% endblock %}