{% extends "_layout" %}
{% set title = "Join QCA" %}
{% set bodyClass = 'l-1col' %}

{% block main %}
<div class="l-main">

  <header class="page-header">
    <div class="main">
      <h1>Join QCA</h1>
    </div>
  </header>

  <header class="band band-flush-bottom">
    <div class="main">
      <span class="headline">Step 2: Pay for your membeship</span>
    </div>
    <!-- <a href="membership-form" class="action">Back</a> -->
  </header>

  <div class="page page-inset">
    <p>Choose your membership length and pay via Paypal.</p>
    <form>
      <div class="form-group">
        <label>Membership type:</label>
        <select class="select-group">
          <option selected>Regular</option>
          <option>Student</option>
          <option>Underemployed</option>
          <option>Institutional</option>
        </select>
      </div>
      <div class="form-group">
        <label>Membership lenth:</label>
        <select class="select-group">
          <option>1 year — $30</option>
          <option>2 year — $60</option>
          <option>3 year — $90</option>
        </select>
      </div>
      <div class="form-group">
        <!--<button type="submit" class="btn btn-primary">Pay via Paypal</button>-->
        <a href="thanks" class="btn btn-primary">Pay via Paypal</a>
      </div>
    </form>

  </div>
  <!--/.page-->

</div>
<!--/.l-main-->
{% endblock %}