//
// Art label
//

.art-label {
  position: relative;
  max-width: 800px;
  padding: .8*$space $space-half $space;
  background-color: $white;
  @include breakpoint($bp-med) {
    padding: .8*$space $space $space;
  }

  &.bordered {
    border: 1px solid $border-color;
    border-top-width: 0;
  }

  .title,
  .artist,
  .details,
  .url {
    margin-bottom: 0;
    margin-right: $space-double;
  }

  .details,
  .details li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .icon {
    position: absolute;
    top: $space * .8;
    right: $space * .8;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background-color: $green;
    .icon--info {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -16px;
      margin-left: -16px;
    }
  }

  @include breakpoint(0 $bp-med) {
    .icon {
      display: none;
    }
  }

}

//
// Theming
//

.theme-light .art-label {
  background-color: $gray-light;
}