/* =======================================================
    Blocks
   ======================================================= */

//
// Picture block
//

.block-picture {

  background-color: $gray-light;

  figcaption {
    margin-top: 0;
    padding: $space-half;
    font-size: $font-size-small;
    background-color: $gray-light;
  }

  &.pos-left {
    @include span(1 of 3);
    margin-right: gutter(4%);
  }

  &.pos-right {
    @include span(last 1 of 3);
    margin-left: gutter(4%);
  }

}

//
// Pullquote block
//

.block-pullquote {

  border: $border-width $border-style $green;
  border-right-width: 0;
  padding: $space;

  .b-quote p {
    @extend .as-h2;
    margin: 0;
    font-weight: $font-weight-body;
    color: $green;
  }

  .b-source p {
    margin: 0;
    font-weight: $font-weight-headline;
    color: $green;
  }

  @include breakpoint($bp-med) {
    margin: {
      top: $space-and-half;
      bottom: $space-and-half;
    }
  }

  @include breakpoint($bp-large) {
    margin: {
      top: $space-double;
      bottom: $space-double;
    }
  }

}

//
//  Media block
//

.block-media {
  position: relative;
  @include flexbox;
  @include align-items(flex-start);

  .b-figure {
    margin-right: $space-half;
    display: block;
    &:last-child {
      margin-right: 0;
      margin-left: $space-half;
    }
    img {
      display: block;
    }
  }

  .b-body {
    @include flex(1); // Rest are flex 0 by default, so they won't expand, but this will
  }

  .b-actions {
    margin-left: $space-half;
  }

  &-1-3 {
    .b-figure {
      @include flex(1);
      margin-right: gutter(12);
    }
    .b-body {
      @include flex(3);
    }
  }
  &-1-2 {
    .b-figure {
      @include flex(1);
      margin-right: gutter(12);
    }
    .b-body {
      @include flex(2);
    }
  }
}

//
// Switch block
//

.block-switch {
  position: relative;
  @include flexbox;
  @include align-items(flex-start);

  .b-figure {
    margin-right: $space-half;
    width: span(3 of 12);
    display: block;
    img {
      display: block;
    }
  }

  .b-body {
    @include flex(1);
  }

  .headline {
    margin: 0;
  }

  @include breakpoint($bp-med) {
    @include flex-direction(column);
    .b-figure {
      @include flex(1);
      margin-right: 0;
      margin-bottom: $space-half;
      width: auto;
    }
  }

}

//
// News block
//

.block-news {
  > header {

  }
  > .body {

  }
  > footer {

  }
}

//
// Compact blocks
//

.block-compact {
  margin-bottom: $space-half;
}

//
// Flush blocks
//

.block-flush {
  margin-bottom: 0;
}

//
// Elements inside blocks
//

[class*='block-'] .headline {
  margin-bottom: 0;
  a {
    @include incognitolink;
  }
}

// End blocks