/* =======================================================
    Buttons
   ======================================================= */

//
// Standard buttons
//

.btn {
  display: inline-block;
  border: $btn-border-width $btn-border-style $btn-border-color;
  border-radius: $btn-border-radius;
  margin-bottom: 0;
  padding: $btn-padding;
  font-weight: $font-weight-headline;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background: $btn-background-color;
  background-image: none;
  color: $btn-color;

  &:hover,
  &:focus {
    background-color: $btn-background-color-hover;
    border-color: $btn-border-color-hover;
    color: $btn-color-hover;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-color: $btn-background-color-active;
    background-image: none;
    // box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    opacity: .65;
    box-shadow: none;
  }

  @include transition(.2s all linear);

}

// Alternate buttons

.btn-primary {
  background-color: $btn-primary-background-color;
  border-color: $btn-primary-border-color;
  color: $btn-primary-color;
  &:hover,
  &:focus {
    background-color: $btn-primary-background-color-hover;
    border-color: $btn-primary-border-color-hover;
    color: $btn-primary-color-hover;
  }
  &:active,
  &.active {
    background-color: $btn-primary-background-color-active;
  }
}

.btn-success {
  background-color: $btn-success-background-color;
  border-color: $btn-success-border-color;
  color: $btn-success-color;
  &:hover,
  &:focus {
    background-color: $btn-success-background-color-hover;
    border-color: $btn-success-border-color-hover;
    color: $btn-success-color-hover;
  }
  &:active,
  &.active {
    background-color: $btn-success-background-color-active;
  }
}

.btn-danger {
  background-color: $btn-danger-background-color;
  border-color: $btn-danger-border-color;
  color: $btn-danger-color;
  &:hover,
  &:focus {
    background-color: $btn-danger-background-color-hover;
    border-color: $btn-danger-border-color-hover;
    color: $btn-danger-color-hover;
  }
  &:active,
  &.active {
    background-color: $btn-danger-background-color-active;
  }
}

.btn-outline {
  background-color: $btn-outline-background-color;
  border-color: $btn-outline-border-color;
  color: $btn-outline-color;
  &:hover,
  &:focus {
    background-color: $btn-outline-background-color-hover;
    border-color: $btn-outline-border-color-hover;
    color: $btn-outline-color-hover;
  }
  &:active,
  &.active {
    background-color: $btn-outline-background-color-active;
  }
}

//
// Link buttons
//

.btn-link {
  border-radius: 0;
  font-weight: normal;
  cursor: pointer;
  background-color: $btn-link-background-color;
  border-color: $btn-link-border-color;
  color: $btn-link-color;

  &:active {
    background-color: transparent;
    box-shadow: none;
  }
  &:hover,
  &:focus,
  &:active {
    border-color: $btn-link-border-color-hover;
  }
  &:hover,
  &:focus {
    color: $btn-link-color-hover;
    background-color: $btn-link-background-color-hover;
  }
}

// Alternate action buttons

.btn-alt {
  @extend .btn-link;
  padding: {
    left: 0 !important;
    right: 0 !important;
  }
  .link {
    text-decoration: underline;
  }
  .nolink {
    color: $body-color;
    text-decoration: none;
  }
  &:hover {
    .link {
      text-decoration: none;
    }
  }
}

//
// Sized buttons
//

// Full button

.btn-full {
  display: block;
}

// Small button

.btn-small {
  padding: $btn-padding-small;
  padding-bottom: $btn-padding-small * 1.5;
  font-size: $font-size-small;
}

// Tiny button

.btn-tiny {
	padding: $btn-padding-small;
  font-size: $font-size-small;
}

// Large button

.btn-large {
  padding: $btn-padding-large;
	// font-size: $font-size-large;
}


// Brick button

.btn-brick {
  display: block;
  min-width: 44px;
  padding: $space-half;
  width: 100%;
  @include breakpoint($bp-med) {
    padding: $space;
  }
}

//
// Button group
//

.btn-group {
  .btn {
    vertical-align: middle;
    margin-bottom: $space-quarter;
    margin-right: $space-quarter;
    &:last-child {
      margin-right: 0;
    }
  }
}

.btn-group-full {
  @include flexbox;
  width: 100%;
  .btn {
    @include flex(1);
  }
}

.btn-group-flush {
  .btn {
    margin: 0;
  }
}

.btn-group-compact {
  width: auto;
}