/* =======================================================
    Member profile
   ======================================================= */

.interview {
  dt {
    color: $headline-color;
    &:before {
      content: "Q: ";
      display: inline-block;
    }
  }
  dd {
    margin-bottom: $space;
    &:last-child {
      margin-bottom: 0;
    }
  }
}