/* =======================================================
    Member profile
   ======================================================= */

.interview {
  * + * {
    margin: $space 0 0 0;
  }
  dt {
    color: $headline-color;
    &:before {
      content: "Q:";
      float: left;
      margin-right: .5em;
    }
  }
  p,
  ul,
  ol {
    margin: $space 0 0 0;
    &:first-child {
      margin-top: 0;
    }
  }
}