/* =======================================================
    Navigation
   ======================================================= */

// Base styles

.nav {
  > ul {
    @include zero;
    list-style: none;
    line-height: 1.2;
  }

  a {
    text-decoration: none;
  }

}

//
// Section navigation
//

.section-nav {

  .title {
    margin-top: 0;
    margin-bottom: $space-half;
  }

  > ul {
    //border: 1px solid $gray-light;
  }

  li {
    border-bottom: 2px solid transparent;
    &:last-child {
      border-bottom-width: 0;
    }
  }

  a {
    position: relative;
    display: block;
    padding: $space-half;
    font-weight: $font-weight-headline;
    background-color: $white-overlay;
    color: $black;
    @include transition(.2s all linear);

    &:hover,
    &:active {
      background-color: $blue;
      color: $white;

      .pointer {
        display: block;
      }
    }
  }

  .pointer {
    position: absolute;
    right: 0;//.5em;
    top: 50%;
    margin-top: -16px;
    color: $gray-light;

    // State
    display: none;
  }

  // You are here
/*
  .sec-nav-item & #sec-nav-item a,
  .current > a,
  .current,
  .sec-about-front & #sec-about-front a,
  .sec-officers & #sec-officers a,
  .sec-contact & #sec-contact a,
  .sec-bylaws & #sec-bylaws a,
  .sec-membership-front & #sec-membership-front a,
  .sec-our-members & #sec-our-members a,
  .sec-membership-form & #sec-membership-form a,
  .sec-history & #sec-history a {
    background-color: $white;
    color: $green;
    pointer-events: none;

    .pointer {
      display: none;
    }
  }
*/
  .current,
  .current a {
    background-color: $white;
    color: $green;
    pointer-events: none;
  }
}

// Theming

.theme-light .section-nav {

  a {
    background-color: $black-overlay;
    color: $white;
    &:hover {
      background-color: $blue;
    }
  }

  .current,
  .current a {
    background-color: $black;
    color: $green;
    pointer-events: none;
  }
}


//
//  Action nav
//

.action-nav {
  > ul li {
    display: inline-block;
  }
}

//
// Jump nav
//

.jump-nav {
  @extend .section-nav;
}

//
// Collapsing nav
// Used to collapse section and jump navs for RWD
//

/*
Markup:

  <nav class="nav jump-nav collapse-nav">
    <h4 class="title">Optional title:</h4>
    <ul>
      <li><a href="#" class="collapse-toggle">Menu <b class="pointer" aria-hidden="true">&darr;</b></a></li>
      <li><a href="#">Nav items continue from here...<a></li>
    </ul>
  </nav>
*/

.collapse-nav {
  @include breakpoint(0 $bp-med) {

    > ul > li:first-child .pointer {
      display: block;
    }

    .collapse-toggle .pointer {
      @include transition(.2s all linear);
    }

    &.is-collapsed {
      > ul > li {
        display: none;
      }
      > ul > li:first-child {
        display: block;
        border-bottom-width: 0;
      }
      .collapse-toggle .pointer {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }

  }

  @include breakpoint($bp-med) {
    > ul > li:first-child {
      display: none;
    }
  }
}

//
//  Inline nav
//

.inline-nav {

  .separator {
    display: none;
  }

  @include breakpoint(0 $bp-med) {
    > ul li {
      &:not(:first-child) {
        margin-top: 1em;
      }
    }
  }

  @include breakpoint($bp-med) {
    > ul li {
      display: inline-block;
      margin-right: .25em;
      &:last-child .separator {
        display: none;
      }
    }

    .separator {
      display: inline-block;
      margin-left: .5em;
      opacity: .5;
    }
  }
}

//
// Pagination
//

.page-nav {
  > ul {
    @include clearfix;

    li {
      float: left;
      border-right: $border-width $border-style $border-color;
      &:last-child {
        border-right-width: 0;
      }

      a {
        display: block;
        padding: $space-quarter $space-half;
        min-width: 44px;
        text-align: center;
      }
    }

    // states

    .is-disabled,
    .is-disabled a {
      color: $gray-light;
    }
    .is-current,
    .is-current a {
      color: $body-color;
      font-weight: $font-weight-headline;
    }

  }

  // Types

  &-full {
    > ul {
      @include flexbox;
      border: $border-width $border-style $border-color;

      li {
        float: none;
        @include flex(1);
        background-color: $gray-light;

        a:hover {
          background-color: $white;
        }
      }
    }
  }
}

//
// Brick nav
//

.brick-nav {
  @include clearfix;
  width: 100%;
  margin-bottom: $space;

  li {
    float: left;
    margin-bottom: -1px;
    margin-right: -1px;
    padding: 0;
  }

  a {
    display: block;
    min-width: 44px;
    padding: $space-half;
    font-weight: $font-weight-headline;
    text-align: center;
    text-decoration: none;
    @include transition(all .2s);
    background-color: $blue;
    color: $white;
  }
  a:hover {
    background-color: $black;
  }

  .arrow {
    display: inline-block;
  }

  .brick-left a {
    text-align: left;
  }
  .brick-right a {
    text-align: right;
  }

  // States

  .is-disabled,
  .is-disabled a {
    background-color: $gray-light;
    color: $gray-medium;
    pointer-events: none;
  }
  .is-current a {
    background-color: $green;
    color: $white;
  }
  .is-active a {
    background: $green;
    color: $white;
  }

  @include breakpoint($bp-med) {
    a {
      padding: $space;
    }
    .brick-left .arrow {
      margin-right: .5em;
    }
    .brick-right .arrow {
      margin-left: .5em;
    }
  }

  // Classes to force bricks to

  // Full width bricks

  &-full {
    display: table;
    width: 100%;
    border-collapse: collapse;

    > ul {
      display: table-row;
    }

    li {
      float: none;
      display: table-cell;
      margin-bottom: 0;
      margin-right: 0;
    }

    a {
      border-width: 0;
    }
  }

  &-vert {
    li {
      float: none;
      margin-right: 0;
    }
    a {
      padding: $space-half;
      padding-bottom: $space-half * 1.25;
      font-weight: $font-weight-body;
      text-align: left;
    }

  }

  &-flush {
    margin-bottom: 0;
  }

  // Components

  header {
    margin-bottom: $space-half;
    > * {
      margin-bottom: 0;
    }
  }

}
