//
// Resources
//

.resource-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  border-bottom: $border-width $border-style $border-color;

  > li {
    @include zero;
  }

  > .resource {
    @include zero;
    border-top: $border-width $border-style $border-color;
    padding: $space 0;
    @include flexbox;

    .body {
      @include flex(3);
      > * {
        margin: 0;
      }
    }

    footer {
      text-align: right;
      margin-left: $space;
      @include flex(1);
      line-height: 1;
    }

    @include breakpoint($bp-med) {
      .body {
        @include flex(5)
      }
      footer {
        -webkit-order: -1;
        order: -1;
        text-align: left;
        margin: 0 $space 0 0;
      }
    }

    @include breakpoint($bp-large-2) {
      .body {
        @include flex(7);
      }
    }

  }

}

// Resource type

.resource-type {
  color: $green;
  font-weight: $font-weight-body;
}

