{% extends "_layout" %}
{% set title = "404" %}
{% set bodyClass = 'l-1col' %}

{% block main %}

<div class="l-main">

  <header class="page-header">
    <div class="main">
      <h1>Oops.</h1>
    </div>
  </header>

  <div class="page page-inset-large">

    <p>The page you were looking for wasn’t found. You might try returning to <a href="{{ siteUrl }}">our homepage</a> and seeing if you can find your way from there. You may also <a href="{{ url('about/contact') }}">contact us</a>.</p>

  </div>

</div>
<!--/.l-main-->
{% endblock %}