{% include 'includes/_html-head.html' %}

{% set randomArtwork = craft.entries.section('artwork').order('RAND()').first() %}
{% set backgroundImageUrl = randomArtwork.artImageBkg.first().url %}
{% if siteTheme is not defined %}
  {% set siteTheme = randomArtwork.artSiteTheme %}
{% endif %}
{% set imageInfoLink = randomArtwork.url %}

<body{% if bodyClass is defined %} class="{{ bodyClass }} {{ siteTheme }}"{% endif %}{% if backgroundImageUrl is defined %} style="background-image: url({{ backgroundImageUrl }});"{% endif %}>

{% include 'includes/_global-header.html' %}

<section id="Content">

  <div class="lc">
  {% block aside %}{% endblock %}
  {% block main %}{% endblock %}
  </div>
  <!--/.lc-->

</section>
<!--/#Content-->

{% include 'includes/_global-footer.html' %}

{% include 'includes/_html-foot.html' %}