{% extends "_layout" %}
{# {% set title = 'Page title here' %} #}
{% set bodyClass = 'theme-light sec-home l-1col' %}
{% set imageInfoLink = "http://amazon.com" %}

{% block main %}
<div class="l-main">

  <div class="hero">
    <section class="positioning">
      <h1>{{ entry.title }}</h1>
    </section>

    {% if entry.showPromo %}

      {% if entry.promoEntryLink|length %}
        {% set promoLink = entry.promoEntryLink.first().getUrl() %}
      {% else %}
        {% set promoLink = entry.promoUrl %}
      {% endif %}

      <a class="promo as-h4" href="{{ promoLink }}">
        {{ entry.promoContent }}
        <span class="icon icon--arrow-right"></span>
      </a>

    {% endif %}
  </div>
  <!--/.page-->

  <section class="news">

    <header class="band">
      <div class="main">
        <span class="headline">Recently</a>
      </div>
      <a href="/news" class="action">View all</a>
    </header>

    <ul class="g">

    {% set entriesRemaining = 3 %}

    {% if entry.stickyNewsItem|length %}

      {% set entry = entry.stickyNewsItem.first() %}

      {% if entry.shortTitle %}

        {% set entryTitle = entry.shortTitle %}

      {% else %}

        {% set entryTitle = entry.title %}

      {% endif %}

      <li class="news-listing">
        <header>
          <h3><a href="news-detail">{{ entryTitle }}</a></h3>
        </header>
        <div class="body">
          <p>{{ entry.teaser }} <a href="{{ entry.url }}">More</a></p>
        </div>
        <footer>
          <span class="date">{{ entry.postDate.format('m.d.y') }}</span>
        </footer>
      </li>

      {% set entriesRemaining = 2 %}

    {% endif %}

    {% set entries = craft.entries.section('news').limit(entriesRemaining) %}

    {% for entry in entries %}

      {% if entry.shortTitle %}

        {% set entryTitle = entry.shortTitle %}

      {% else %}

        {% set entryTitle = entry.title %}

      {% endif %}

      <li class="news-listing">
        <header>
          <h3><a href="news-detail">{{ entryTitle }}</a></h3>
        </header>
        <div class="body">
          <p>{{ entry.teaser }} <a href="{{ entry.url }}">More</a></p>
        </div>
        <footer>
          <span class="date">{{ entry.postDate.format('m.d.y') }}</span>
        </footer>
      </li>

    {% endfor %}

    </ul>

  </section>


</div>
<!--/.l-main-->
{% endblock %}

{% block aside %}{% endblock %}
