{% extends "_layout" %}
{# {% set title = 'Page title here' %} #}
{% set bodyClass = 'theme-light sec-home l-1col' %}
{% set imageInfoLink = "http://amazon.com" %}

{% block main %}
<div class="l-main">

  <div class="hero">
    <section class="positioning">
      <h1>{{ entry.title }}</h1>
    </section>

    {% if entry.showPromo %}

      {% if entry.promoEntryLink|length %}
        {% set promoLink = entry.promoEntryLink.first().getUrl() %}
      {% else %}
        {% set promoLink = entry.promoUrl %}
      {% endif %}

      <a class="promo as-h4" href="{{ promoLink }}">
        {{ entry.promoContent }}
        <span class="icon icon--arrow-right"></span>
      </a>

    {% endif %}
  </div>
  <!--/.page-->

  <section class="news">
    <header class="band">
      <div class="main">
        <span class="headline">Recently</a>
      </div>
      <a href="/news" class="action">View all</a>
    </header>
    <ul class="g">
      <li class="news-listing">
        <header>
          <h3><a href="news-detail">News item title here lorem ipsum dolor sit amet consecutat velo</a></h3>
        </header>
        <div class="body">
          <p>News item summary here lorem ipsum dolor sit amet consecutat velorem dolor.</p>
        </div>
        <footer>
          <span class="date">12.10.14</span>
        </footer>
      </li>
      <li class="news-listing">
        <header>
          <h3><a href="news-detail">News item title here</a></h3>
        </header>
        <div class="body">
          <p>News item summary here lorem ipsum dolor sit amet consecutat velorem dolor.</p>
        </div>
        <footer>
          <span class="date">11.30.14</span>
        </footer>
      </li>
      <li class="news-listing">
        <header>
          <h3><a href="news-detail">News item title here lorem ipsum dolor</a></h3>
        </header>
        <div class="body">
          <p>News item summary here lorem ipsum dolor sit amet consecutat velorem dolor.</p>
        </div>
        <footer>
          <span class="date">11.18.14</span>
        </footer>
      </li>
    </ul>
  </section>

</div>
<!--/.l-main-->
{% endblock %}

{% block aside %}{% endblock %}
